{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% for filter in hiddenFilters %}
  <input type="hidden" name="{{ filter.name }}" value="{{ filter.value }}">
{% endfor %}

{% for item in sidebarItems %}
  {% if item.type == 'facet' %}
    <details class="govuk-details app-filter-group" data-module="govuk-details" data-filter-group="{{ item.name }}">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ item.legend }}</span>
        {% if item.selectedCount %}
          <span class="app-filter-group__count">{{ item.selectedCount }} selected</span>
        {% endif %}
        {% include "search/_filter-chevron.njk" %}
      </summary>
      <div class="govuk-details__text">
        {% if item.items.length %}
          {{ govukCheckboxes({
            name: item.name,
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: { text: item.legend, classes: "govuk-visually-hidden" }
            },
            items: item.items
          }) }}
        {% else %}
          <p class="govuk-body govuk-hint">No options available</p>
        {% endif %}
      </div>
    </details>
  {% elif item.type == 'date' %}
    {% include "search/filters/date/_filter.njk" %}
  {% elif item.type == 'location' %}
    {% include "search/filters/location/_filter.njk" %}
  {% endif %}
{% endfor %}

<div class="app-filter-panel__actions app-js-fallback">
  {{ govukButton({
    text: "Apply filters",
    classes: "app-filter-panel__apply"
  }) }}
</div>
