{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set exactDateHtml %}
  {{ govukDateInput(dateFilter.exactDateInput) }}
{% endset %}

{% set rangeDateHtml %}
  {{ govukDateInput(dateFilter.afterDateInput) }}
  {{ govukDateInput(dateFilter.beforeDateInput) }}
{% endset %}

<details class="govuk-details app-filter-group" data-module="govuk-details" data-filter-group="date"{% if dateFilter.hasErrors %} open{% endif %}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Date</span>
    {% if dateFilter.selected %}
      <span class="app-filter-group__count">1 selected</span>
    {% endif %}
    {% include "search/_filter-chevron.njk" %}
  </summary>
  <div class="govuk-details__text">
    {{ govukRadios({
      name: "dateMode",
      classes: "govuk-radios--small",
      fieldset: { legend: { text: "Date", classes: "govuk-visually-hidden" } },
      items: [
        {
          value: "exact",
          text: "Select exact date",
          checked: dateFilter.mode === "exact",
          conditional: { html: exactDateHtml }
        },
        {
          value: "range",
          text: "Select date range",
          checked: dateFilter.mode === "range",
          conditional: { html: rangeDateHtml }
        }
      ]
    }) }}
  </div>
</details>
